* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
textarea {
  all: unset;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #e1e8eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.backgound {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 254px;
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(105, 58, 135, 0.961),
      rgba(59, 92, 163, 0.9)
    ),
    url("./winter.jpg");
  background-size: cover;
  background-position: center;
}
.first__heading {
  font-size: 65px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 75px;
}
.first__heading--special {
  font-weight: 300;
}

.container {
  width: 1040px;
  height: 510px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  margin-top: 55px;
  display: flex;
  overflow: hidden;
}
.textarea {
  resize: none;
  flex: 2;
  font: inherit;
  padding: 30px 40px;
  font-size: 22px;
}
.textarea::placeholder {
  font-weight: 500;
  color: #959c9f;
}
.stats {
  flex: 1.3;
  background-color: #e1e8eb;
  display: flex;
  flex-wrap: wrap;
}
.stat {
  flex: 1 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stat:nth-child(1),
.stat:nth-child(2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.stat:nth-child(2),
.stat:nth-child(4) {
  border-left: 1px solid rgba(0, 0, 0, 0.08);
}
.stat__number {
  color: #4d5457;
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 10px;
}
.second__heading {
  font-weight: 500;
  color: #747a7c;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}
.footer {
  width: 1040px;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  opacity: 0.4;
}
@media (max-width: 1150px) {
  .container {
    width: 85vw;
    flex-direction: column;
  }
  .first__heading {
    font-size: 7vw;
  }
  .stat {
    padding: 15px 10px;
  }
  .stat:nth-child(1),
  .stat:nth-child(2),
  .stat:nth-child(4) {
    border: none;
  }
  .stat__number {
    font-size: 20px;
  }
  .footer {
    width: initial;
    flex-direction: column;
    align-items: center;
  }
}
